<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/myro3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myro3"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:theme="@style/Theme.MyRo" />
        <activity
            android:name=".aboutApp"
            android:exported="false" />
        <activity
            android:name=".DetailScreen"
            android:exported="false" />
        <activity
            android:name=".drawer.Settings"
            android:exported="false" />
        <activity
            android:name=".drawer.AboutUs"
            android:exported="false" />
        <activity
            android:name=".drawer.Help"
            android:exported="false" />
        <activity
            android:name=".drawer.Edit_Profile"
            android:exported="false" />
        <activity
            android:name=".NotificationsAndMessages"
            android:exported="false" />
        <activity
            android:name=".Log_In"
            android:exported="false" />
        <activity
            android:name=".Sign_Up"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".UpdatePropertyActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>